/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1059 {
        /* Centers button */
        text-align: left;
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 31.95vw, 18.75rem) (16/16rem) 0;
        /* 130px - 200px */
        padding-bottom: clamp(8.125rem, 16.5vw, 12.5rem);
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.84;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (829/16rem);
            margin: 0 auto (16/16rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 (40/16rem) 0;
            color: #fff;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            margin: 0;
            color: #fff;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1059 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-background {
            &:before {
                background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.94) 0%,
                    rgba(0, 0, 0, 0.94) 2%,
                    rgba(0, 0, 0, 0) 100%
                );
                opacity: 1;
            }
        }
    }
}


/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #services-218 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (32/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin-right: (10/16rem);
            /* padding left and right changes on tablet */
            padding: (44/16rem) (32/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #fafbfc;
            border: 1px solid #dad9e3;
            border-radius: (5/16rem);
            position: relative;

            &:before {
                /* top right box */
                content: "";
                width: 45%;
                max-width: (180/16rem);
                height: 50%;
                max-height: (144/16rem);
                background: var(--primary);
                border-radius: (16/16rem);
                position: absolute;
                display: block;
                top: (-10/16rem);
                right: (-10/16rem);
                z-index: -1;
            }
        }

        .cs-icon {
            /* 60px - 77px */
            width: clamp(3.75rem, 7.6vw, 4.8125rem);
            height: auto;
            margin-bottom: (40/16rem);
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.5vw, 1.5625rem);
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
            font-weight: bold;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-watermark {
            display: none;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #services-218 {
        .cs-container {
            max-width: (1280/16rem);
            position: relative;
        }

        .cs-content {
            width: 50%;
        }

        .cs-card-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .cs-item {
            grid-column: span 4;
            grid-row: span 1;
            margin: 0;
            /* makes each card the same height if you add or remove lines of text */
            align-self: stretch;
        }

        .cs-watermark {
            width: 30%;
            max-width: (224/16rem);
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-218 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--medium);
                border: none;

                &:before {
                    background: var(--accent);
                }
            }

            .cs-icon {
                /* makes so bright it turns white */
                filter: brightness(3000%);
            }
        }
    }
}

                                
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            right: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            bottom: 0;
            left: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            /* sends it to the right */
            order: 2;
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs-r {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
    #gallery {
        /* Centers button */
        text-align: center;
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        .cs-container {
            width: 100%;
            max-width: (1322/16em);
            margin: auto;
        }

        .cs-topper {
            text-align: center;
            margin-bottom: (16/16rem);
        }

        .cs-title {
            text-align: center;
            max-width: (621/16rem);
            margin-bottom: (40/16rem);
        }

        .cs-image-group {
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: ~"min(1.1vw, 1em)";
            width: 100%;
            max-width: (1322/16em);
            margin: 0 auto (60/16rem);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: (30/16em);
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (30/16em);
        }

        .cs-picture {
            display: block;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-row-1 {
            .cs-picture1 {
                width: (420/16em);
                height: (567/16em);
            }

            .cs-picture2 {
                width: (420/16em);
                height: (629/16em);
            }

            .cs-picture3 {
                width: (420/16em);
                height: (512/16em);
            }
        }

        .cs-row-2 {
            .cs-picture1 {
                width: (420/16em);
                height: (492/16em);
            }

            .cs-picture2 {
                width: (420/16em);
                height: (517/16em);
            }

            .cs-picture3 {
                width: (420/16em);
                height: (629/16em);
            }
        }

        .cs-row-3 {
            .cs-picture1 {
                width: (420/16em);
                height: (625/16em);
            }

            .cs-picture2 {
                width: (420/16em);
                height: (452/16em);
            }

            .cs-picture3 {
                width: (420/16em);
                height: (629/16em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #gallery {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #reviews {
        /* Centers the button */
        text-align: center;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1104/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: center;
            margin-bottom: (16/16rem);
        }

        .cs-title {
            text-align: center;
            max-width: (700/16rem);
        }

        .cs-text {
            text-align: center;
            max-width: (650/16rem);
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
        }

        .cs-card-group {
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
            padding: 0;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (542/16rem);
            margin: 0 auto (64/16rem);
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            background: #fff;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: (4/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            width: (80/16rem);
            height: (80/16rem);
            position: absolute;
            top: (-40/16rem);
        }

        .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #e8e9ec;
        }

        .cs-reviewer {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            width: 40%;
            margin: 0 auto 0 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (14/16rem);
            font-weight: 400;
            color: var(#353535);
            display: block;
        }

        .cs-item-stars {
            width: (96/16rem);
            height: (16/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #reviews {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #reviews {
            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-reviewer {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--medium);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
